body{
    background: #77A1D3;  
    background: -webkit-linear-gradient(to right, #E684AE, #79CBCA, #77A1D3); 
    background: linear-gradient(to right, #E684AE, #79CBCA, #77A1D3);
    
}
img{
 
     height: 200px;
     width:150px;
     object-fit:cover;
     background:url('img/p.jpg');
     background-repeat: no-repeat;
   
    
}
.container{
    width: 40em;
    text-align: center;
    border-style: solid;
    height:30em;
    background: #C9FFBF;  
    background: -webkit-linear-gradient(to right, #FFAFBD, #C9FFBF); 
    background: linear-gradient(to right, #FFAFBD, #C9FFBF);
    
    margin:5em;
    margin-left: 15em;
   
}
h3{
    margin-left:10em;
    margin-top:50em;
}
h4{
    
    text-align:left;
   
}
.cont{
    text-align:left;
    width:71em;
    border-style: solid;
    background: #C9FFBF;  
    background: -webkit-linear-gradient(to right, #FFAFBD, #C9FFBF); 
    background: linear-gradient(to right, #FFAFBD, #C9FFBF);
    
    margin-left: 6.5em;
}
.check{
    height:10em;
    width: 84.3em;
    background: #67B26F;  
    background: -webkit-linear-gradient(to right, #4ca2cd, #67B26F); 
    background: linear-gradient(to right, #4ca2cd, #67B26F);
    
}

.btn-primary{
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    margin-left: 28%;
}
