@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

* {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Pacifico", cursive;
}

.container {
  display: flex;
  width: 50em;
  
}

.navbar {
  margin-left: 20rem;
}

.but {
  border: 0;
  cursor: pointer;
  font-weight: 500;
  color: #fff;
  font-size: 18px;
  width: 15em;
  height: 2.5em;
  margin-left: 10em;
  /* padding:1em; */
  border-radius: 30px;
  background-image: linear-gradient(180deg, #7c8aff, #3c4fe0);
  box-shadow: 10 24px 11px 10px rgba(26, 27, 34, 0.15),
    10px 1px 3px 5px rgb(93 100 148 / 20%);
  transition: all 0.2s ease-out;
}

.but:hover {
  box-shadow: 0 8px 22px 0 rgb(37 44 97 / 15%),
    0 4px 6px 0 rgb(93 100 148 / 20%);
}
.to {
  display: flex;
  position: absolute;
}
.first {
  height: 36em;
  width: 50em;

  background-color: #e969b1;
  background: -webkit-radial-gradient(to right, #47c2fc 2%, hsl(143, 83%, 68%));
  background: linear-gradient(to right, #22b8d3, #54e7bb);
}
.left {
  height: 36em;
  width: 34em;
  background: linear-gradient(
    178.6deg,
    rgb(20, 132, 160) 11.8%,
    rgb(16, 117, 175) 83.8%
  );
}
figure {
  position: absolute;
  margin-left: 35em;
}
h2 {
  overflow: hidden;
  border-right: 0.15em solid rgb(108, 96, 221);
  white-space: nowrap;
  animation: typing 5s steps(13) forwards;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 35%;
  }
}
.organ {
  margin-top: 36em;
  position: absolute;
  width:100%;
  background: #a1ffce;
  background: -webkit-linear-gradient(to right, #faffd1, #a1ffce);
  background: linear-gradient(to right, #faffd1, #a1ffce);
}
.img-fluid {
  margin-left: 25em;
  margin-top: -60em;
}
.card1 {
  background: #654ea3;
  background: -webkit-linear-gradient(to right, #eaafc8, #654ea3);
  background: linear-gradient(to right, #eaafc8, #654ea3);
}


footer {
  width: 100%;
  bottom: 0;
  left: 0;
  background: #111;
}
footer .content {
  max-width: 1350px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .content p,
a {
  color: #fff;
}
footer .content .box {
  width: 33%;
  transition: all 0.4s ease;
}
footer .content .topic {
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 16px;
}
footer .content p {
  text-align: justify;
}
.box {
  background-color: #111;
}
footer .content .lower .topic {
  margin: 24px 0 5px 0;
}
footer .content .lower i {
  padding-right: 16px;
}
footer .content .middle {
  padding-left: 80px;
}
footer .content .middle a {
  line-height: 32px;
}
footer .content .right input[type="text"] {
  height: 45px;
  width: 100%;
  outline: none;
  color: #d9d9d9;
  background: #000;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 17px;
  border: 2px solid #222222;
}
footer .content .right input[type="submit"] {
  height: 42px;
  width: 100%;
  font-size: 18px;
  color: #d9d9d9;
  background: #eb2f06;
  outline: none;
  border-radius: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 12px;
  border: 2px solid #eb2f06;
  transition: all 0.3s ease-in-out;
}
.content .right input[type="submit"]:hover {
  background: none;
  color: #eb2f06;
}
footer .content .media-icons a {
  font-size: 16px;
  height: 45px;
  width: 45px;
  display: inline-block;
  text-align: center;
  line-height: 43px;
  border-radius: 5px;
  border: 2px solid #222222;
  margin: 30px 5px 0 0;
  transition: all 0.3s ease;
}
.content .media-icons a:hover {
  border-color: #eb2f06;
}
footer .bottom {
  width: 100%;
  text-align: right;
  color: #d9d9d9;
  padding: 0 40px 5px 0;
}
footer .bottom a {
  color: #eb2f06;
}
footer a {
  transition: all 0.3s ease;
}
footer a:hover {
  color: #eb2f06;
}
@media (max-width: 1100px) {
  footer .content .middle {
    padding-left: 50px;
  }
}
@media (max-width: 950px) {
  footer .content .box {
    width: 50%;
  }
  .content .right {
    margin-top: 40px;
  }
}
@media (max-width: 560px) {
  footer {
    position: relative;
  }
  footer .content .box {
    width: 100%;
    margin-top: 30px;
  }
  footer .content .middle {
    padding-left: 0;
  }
}
.fq {
  background: #f2709c;
  background: -webkit-linear-gradient(to right, #ff9472, #f2709c);
  background: linear-gradient(to right, #ff9472, #f2709c);
}
.accordion-body {
  background: #ddd6f3;
  background: -webkit-linear-gradient(to right, #faaca8, #ddd6f3);
  background: linear-gradient(to right, #faaca8, #ddd6f3);
}
