@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&family=Pacifico&family=Playfair+Display:ital@1&family=Unna&display=swap');

h1{
    text-align: center;
      color: #fff;

}
body{
    background:url('img/i.jpg');
    background-attachment: fixed; 
  background-size: cover;
}

.container{
    overflow-y: scroll;
    border-style:solid;
    width:70%;
    height:34em;
    border-color:rgb(36, 36, 133);
    /* margin-left:5em; */
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
  border-radius: 5px;
  background-color: rgba(255, 255, 255, .15);
  color: #fff;
  backdrop-filter: blur(3px);
}
h2{
    text-decoration:underline;
    font-style: italic;
    color: #f8a4f4;
}
h4{
    font-family: 'Lobster Two', cursive;
    font-family: 'Pacifico', cursive;
    font-family: 'Playfair Display', serif;
    font-family: 'Unna', serif;
}



/* CSS */
.but {
  background: #5E5DF0;
  border-radius: 999px;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 10em;
  word-break: break-word;
  border: 0;
  margin-left: 33em;
  margin-top:2em;
  margin-bottom:1em;
}